<table class='table table-sm table-hover'>
  <thead>
    <%= yield(:add_list_item) unless admin? %>
    <tr>
      <th></th>
      <th class='col-3'>Name</th>
      <th class='col-3'>Brand</th>
      <th class='col-4'>Info</th>
      <th class='col-2'>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <%= render list.items, addee:list %>
  </tbody>
</table>
