<table class='table table-sm table-hover'>
  <thead>
    <%= yield(:add_item) unless household_partial? %>
    <tr>
      <th class='col-3'>Name</th>
      <th class='col-3'>Brand</th>
      <th class='col-4'>Info</th>
      <th class='col-2'>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <%= render member.list.items, list:member.list %>
  </tbody>
</table>
