<span class='card-title'>
  <u class='lg-font'>
    Inbox
  </u>
  <span class="pb-2">
    <%= link_to "New",
      new_member_message_path(current_member),
      remote:true,
      class:btn %>
    <%= link_to "Check Messages",
      [current_member, :check, :messages],
      remote:true,
      class:btn %>
    <span class='text-success small pl-2' id='message_confirmation'>
    </span>
  </span>
</span>
<div>
  <%= render 'messages/messages' %>
</div>
