<span class="card-title">
  <u class='lg-font'>
    Inventory
  </u>
  <span class='pb-2'>
      <%= link_to "Add",
        new_household_room_item_path(current_household),
        remote:true,
        class:btn %>
      <%= refresh_btn(current_household, :room_items) %>
  </span>
</span>

<div id="accordion_inventory" data-children=".room-item">
  <%= render partial:'room_items/room_items_div',
    collection:current_household.rooms.unowned,
    as: :room %>
</div>
