<span class="card-title">
  <u class='lg-font'>
    Bills
  </u>
  <span class='pb-2'>
    <%= add_btn(:bill, current_household) %>
  </span>
  <small id="remaining_bills_amount" class='text-muted small pl-3'>
    Remaining Monthly Expenses: <strong><%= remaining_expenses %></strong>
  </small>
</span>

<div id="accordion-bill" data-children=".bill-item">
  <% Bill.scopes.each do |scope, scope_title| %>
    <%= content_tag :div,
          class:"bill_item",
          id:"#{scope.to_s}_bills_collapse" do %>
      <%= render 'bills/bills',
            {scope_title:scope_title,
             scope:scope,
             bills:current_household.bills.send(scope)} %>
    <% end %>
  <% end %>
</div>
