<tr>
  <td>
    <%= link_to 'x', household_invitee_path(invitee.household, invitee), method:'delete', class:'close' %>
  </td>
  <td>
    <%= link_to invitee.name,
    edit_household_invitee_path(invitee.household, invitee),  data:{toggle:'modal', target:"#edit_invitee_#{invitee.id}"},
    class:'btn btn-sm text-info'
      %>
  </td>
  <td>
      <%= invitee.email %>
  </td>
</tr>

<%= render 'modals/edit_invitee', invitee:invitee %>
