<div class="form-group row">
  <%= f.label :name,
        class:'text-center col-4 col-form-label'
    %>
    <div class="col-8">
      <%= f.text_field :name,
            placeholder:"Name",
            class:'form-control form-control-sm' %>
    </div>
</div>
