<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :name,
          class:'col-form-label' %>
  </div>
  <div class="col-8">
    <%= f.text_field :name,
          placeholder:"Name",
          class:'form-control form-control-sm' %>
  </div>
</div>
