<div class="row">
  <div class="col text-right">
    <%= link_to "Add Room",
          new_household_room_path,
          remote:true,
          class:btn %>
      <br>
  </div>
</div>
<div class='row'>
  <div class="col-2">
  </div>
  <div class=' pr-0 col-4 text-center'>
    <table class="table table-sm" id='community_rooms'>
      <thead>
        <tr>
          <th class='tbl-col-1'></th>
          <th class='tbl-col-11'>Community</th>
        </tr>
      </thead>
      <tbody id='household_rooms'>
        <% current_household.rooms.unowned.each do |room| %>
          <%= content_tag :tr,
                class:room.row_id do %>
            <%= render 'rooms/room', room:room %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='pl-0 col-4 text-center'>
    <table class='table table-sm' id='bedrooms'>
      <thead>
        <tr>
          <th>Bedrooms</th>
        </tr>
      </thead>
      <tbody>
        <% current_household.rooms.owned.each do |room| %>
          <tr>
            <td>
              <span class='btn btn-sm'>
                <%= room.member.name %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-2">
  </div>
</div>
</table>
