<%= f.fields_for :item do |m| %>
  <div class='form-group row text-center'>
    <div class="col-4">
        <%= m.label :name,
              class:'col-form-label' %>
    </div>
    <div class='col-sm-8'>
      <%= m.text_field :name,
            list:'item_name_autocomplete',
            placeholder:'Item Name',
            class:'form-control form-control-sm' %>
      <datalist id='item_name_autocomplete'>
        <% @items.each do |item| %>
          <option value="<%= item %>"></option>
        <% end %>
      </datalist>
    </div>
  </div>
<% end %>
