<tr>
  <td>
    <span title='Remove'>
      <%= link_to [item.addee_item(addee)],
          class:'btn btn-sm text-muted close',
          method:'delete',
          data:{confirm:'Remove Item?'} do
          %>
          <span aria-hidden="true">&times;</span>
      <% end %>
    </span>
  </td>
  <td>
    <%= item_name(item, addee) %>
    <%= render_edit(item, addee) if item_name(item, addee).include?("href") %>
  </td>
  <% item.addee_item(addee).columns.each do |attr| %>
    <td class='text-center'>
      <%= item.addee_item(addee).send(attr) %>
    </td>
  <% end %>
</tr>
