<td>
  <%= item_remove_btn(item, addee) %>
</td>
<td>
  <%= item_name(item, addee) %>
</td>
<% item.addee_item(addee).columns.each do |attr| %>
  <td>
    <%= item.addee_item(addee).send(attr) %>
  </td>
<% end %>
