<div class="modal fade" id="new_bill" tabindex="-1" role="dialog" aria-labelledby="new_bill_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_bill_title">
          <strong>
            New Bill
          </strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="mx-auto">
        <%= form_for [current_household, @bill],
          id:'new_bill' do |f|
          %>
          <div class="modal-body">
            <%= render 'bills/form', f:f %>
          </div>
      </div>
          <div class="modal-footer">
            <%= f.submit "Create",
              class:'btn btn-sm btn-secondary'
              %>
          </div>
        <% end %>
    </div>
  </div>
</div>
