<table class='table table-sm table-hover'>
  <thead>
    <tr>
      <th class='tbl-col-1'></th>
      <th class='tbl-col-3'>Name</th>
      <th class='tbl-col-2'>Brand</th>
      <th class='tbl-col-4'>Info</th>
      <th class='tbl-col-2'>Quantity</th>
    </tr>
  </thead>
  <tbody id="list_items_tbody">
    <% list.list_items.each do |list_item| %>
      <%= content_tag :tr,
        id:list_item.row_id do %>
        <%= render 'items/item',
          {addee:list,
           item:list_item.item
           } %>
      <% end %>
    <% end %>
  </tbody>
</table>
