<span class='card-title'>
  <u class='lg-font'>
    Requests
  </u>
  <span class='pb-2'>
    <%= add_btn(:list_item, current_member) %>
   </span>
</span>
<div>
 <%= render 'list_items/list_items',
       list:current_member.list %>
</div>
