@import "bootstrap";
.justify-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content:flex-end;
}
.list-group-item {
  padding: 3px 10px !important;
}

.form-check-input {
  margin-left:0 !important;
}

.lg-font {
  font-size: 1.25rem !important;
}

.font-blk {
  color: black;
}

.day-cell {
  height:100px !important;
  width:120px !important;
  padding:0 !important;
  vertical-align: top !important;
}

.day-cell-zoomed {
  height:350px !important;
  width:100% !important;
  /*margin:5 !important;*/
  /*padding:0 !important;*/
}

.strike-through, .strike-through:hover, .strike-through:active, .strike-through:focus {
  text-decoration:line-through;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td {
  font-size: .85em;
  vertical-align: middle !important;
}

.tbl-col-1 {
  width:8.3333333333%;
}

.tbl-col-2 {
  width:16.666666667%;
}

.tbl-col-3 {
  width:24.999999999%;
}

.tbl-col-4 {
  width:33.333333332%;
}

.tbl-col-5 {
  width:41.666666665%;
}

.tbl-col-6 {
  width:49.999999998%;
}

.tbl-col-7 {
  width:58.333333331%;
}

.tbl-col-8 {
  width:66.666666664%;
}

.tbl-col-9 {
  width:74.999999997%;
}

.tbl-col-10 {
  width:83.333333333%;
}

.tbl-col-11 {
  width:91.666666663%;
}

.tbl-col-12 {
  width:99.999999996%;
}
