@import "bootstrap";
.list-group-item {
  padding: 3px 10px !important;
}

.strikeout {
  text-decoration: line-through;
}

.form-check-input {
  margin-left:0 !important;
}

.sm-font {
  font-size: .85em;
}

.font-blk {
  color: black;
}

td {
  font-size: .85em;
  vertical-align: middle !important;
}

.lg-font {
  font-size: 1.25rem !important;
}

.day-cell {
  height:100px !important;
  width:120px !important;
  padding:0 !important;
  vertical-align: top !important;
}

.day-cell-zoomed {
  height:350px !important;
  width:100% !important;
  /*margin:5 !important;*/
  /*padding:0 !important;*/
}

.new-form {
  width:400px !important;
}

.error {
  border: 1px solid red;
}

.strike, .strike:hover, .strike:active, .strike:focus {
  text-decoration:line-through;
}
