<div class="row">
  <div class="col">
  </div>
  <div class="col-8">
    <%= form_for chore, url: household_chore_path(current_household, chore) do |f| %>
      <%= render 'chores/form', f:f %>
    <% end %>
  </div>
  <div class="col">
  </div>
</div>
