<span class="card-title">
  <u class='lg-font'>
    Profile
  </u>
  <span class='pb-2'>
    <%= link_to "Edit",
          edit_household_member_path(current_household, current_member),
          remote:true,
          class:btn %>
  </span>
</span>
<div id="accordion_profile">
  <%= content_tag :div,
        class:"#{current_member.row_id} member-edit",
        id:"reload_#{current_member.row_id}" do %>
      <%= render 'members/member',
            member:current_member,
            collapse:true %>
  <% end %>
</div>
