<div id="exampleAccordion" data-children=".item">
  <div class="item">
    <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
      <%= member.first_name %>
    </a>
    <div id="exampleAccordion1" class="collapse" role="tabpanel">
      <p class="mb-3">
        <%= member.last_name %>
      </p>
    </div>
  </div>
</div>
