<h5>Members
  <small>
    <%= link_to "New",
        new_household_member_path(current_household),
        data:{toggle:'modal', target:'#new_member'},
        class:'btn btn-sm' %>
  </small>
</h5>
<%= render 'modals/new_member' %>
<%= render @members %>
<br>
<%= render 'invitees/all', invitees:@invitees %>
