<div class='row'>
  <div class='col-4'>
    <ul>
      <h5>Chores</h5>
      <%= render @member.chores %>
    </ul>
  </div>
  <div class=col-4>
    <%= render 'list' %>
  </div>
  <div class='col-4'>
    <h5>I need...</h5>
    <ul>
      <% if @member.head_of_household || @member = current_member %>
        <%= render 'list'  %>
      <% else %>
        <%= render @member.lists %>
      <% end %>
    </ul>
  </div>
</div>
