<div id='member-show' data-children='.link'>
  <div class='text-center'>
    <% menu_links = %w(Chores Requests Inbox Inventory Profile) %>
    <% menu_links.each do |link| %>
      <%= menu_link("member-show", link) %>
    <% end %>
  </div>
  <br>
  <% menu_collapse = {
        chores:'chore',
        requests:'list_item',
        inbox:'message',
        inventory:'room_item',
        profile:'member'
    } %>
  <% menu_collapse.each do |key, value| %>
    <%= link_div(key, value) %>
  <% end %>
</div>
