<%= form_for household, id:'edit_household' do |f| %>
  <%= render 'households/form', f:f %>
  <div class="text-right">
    <%= f.submit "Update",
      class:'btn btn-sm btn-outline-secondary text-dark mr-4'
      %>
  </div>
<% end %>
