<div class='row'>
  <div class='col-6'>
    <div class=''>
      <h5>Room Item Needs</h5>
        <%= render 'list', @ %>
    </div><br>
    <div class=''>
      <h5>Member Item Needs</h5>
        <%= render 'list',  %>
    </div>
    <div class=''>

    </div>
  </div>
  <div class='col-6'>
    <div class=''>

    </div>
    <div class=''>

    </div>
  </div>
</div>
