<div id='admin-control' data-children='.link'>
  <div class='text-center'>
    <% menu_links = %w(Calendar Chores Bills Requests Inventory Members Household) %>
    <% menu_links.each do |link| %>
      <%= menu_link("admin-control", link) %>
    <% end %>
  </div>
  <br>
  <% menu_collapse = {
        calendar:"calendar",
        chores:"chore",
        bills:"bill",
        requests:"list_item",
        inventory:"room_item",
        members:"member",
        household:"household"
    } %>
  <% menu_collapse.each do |key, value| %>
    <%= link_div(key, value) %>
  <% end %>
</div>
