<div class='row'>
  <div class='col-6'>
    <div class=''>
      <h5>
        All Chores
      </h5>
      <% Chore.scopes.each do |scope, chore| %>
        <%= render 'chores/chore_scope', {chore: chore, scope: scope, chores: @chores} %>
      <% end %>
    </div>
      <br>
    <div class=''>
      <h5>
        Household Needs
      </h5>
      <% current_household.rooms.each do |room| %>
        <%= render 'households/list_owner', room: room %>
      <% end %>
    </div>
      <br>
    <div class=''>
      <h5>
        Household Inventory
      </h5>
      
    </div>
    <div class=''>

    </div>
  </div>
  <div class='col-6'>
    <div class=''>

    </div>
    <div class=''>

    </div>
  </div>
</div>
